build/
player.kdev4
.kdev4/
.cache
libs/qcustomplot/debug
libs/qcustomplot/release
libs/qcustomplot/libqcustomplotd.*
libs/qcustomplot/libqcustomplot.*
libs/qcustomplot.*
libs/qcustomplot/Makefile
libs/qcustomplot/Makefile.*
libs/qcustomplot/.qmake.stash
