build/
player.kdev4
.kdev4/
.cache
libs/qcustomplot/debug
libs/qcustomplot/release
libs/qcustomplot/*.so
libs/qcustomplot/*.1
libs/qcustomplot/*.2
libs/qcustomplot/Makefile
libs/qcustomplot/Makefile.Debug
libs/qcustomplot/Makefile.Release
